<!-- <input type="button" value="Products" (click)="userChoice='Products'">
<input type="button" value="Calculator" (click)="userChoice='Calculator'">
<input type="button" value="Greeter" (click)="userChoice='Greeter'"> -->

<input type="button" *ngFor="let choice of availableChoices" [value]="choice" (click)="userChoice=choice" />
<br>

<div [ngSwitch]="userChoice">
  <app-products *ngSwitchCase="'Products'"></app-products>
  <div *ngSwitchCase="'Calculator'">
    <app-calculator-1></app-calculator-1>
    <br>
    <app-calculator-2></app-calculator-2>
  </div>
  <app-greeter *ngSwitchCase="'Greeter'"></app-greeter>
</div>
